= form_for [:panel,@instancia] do |f|
  .form-group
    = f.label :identifier
    = f.text_field :identifier, class: 'form-control'
  .form-group
    = f.label :password
    = f.text_field :password, class: 'form-control'
  .form-group
    = f.submit t('.save'), class: 'btn btn-success'
