.row
  .col
    = render 'panel/nav'

.row
  .col
    %h1= t('.title')
    %p= t('.description')

    - if policy(Instancia).new?
      = link_to t('.new'), new_panel_instancia_path, class: 'btn btn-success'

    %table.table.table-condensed.table-striped
      %thead
        %tr
          - th = %w[.id .short_identifier .relevamientos_count .comentarios_count .created_at]
          - th.each do |h|
            %th= sort_link @q, h.tr('.', '').to_sym, t(h)
          %th
      %tfoot
      %tbody
        - @instancias.each do |i|
          %tr
            %td= i.id
            %td= link_to i.short_identifier, panel_relevamientos_path(q: { instancia_id_eq: i.id })
            %td= i.relevamientos_count
            %td= i.comentarios_count
            %td= i.created_at.strftime('%Y-%m-%d')
            %td
              .btn-group{role: 'group', aria: { label: t('.actions') }}
                - if policy(i).edit?
                  = link_to edit_panel_instancia_path(i), class: 'btn btn-info' do
                    = fa_icon 'edit', title: t('.edit')
                    %span.sr-only= t('.edit')
                - if policy(i).destroy?
                  = link_to panel_instancia_path(i), method: :delete,
                    data: { confirm: t('.delete.confirm') },
                    class: 'btn btn-danger' do
                    = fa_icon 'remove', title: t('.delete.button')
                    %span.sr-only= t('.delete.button')
    = paginate @instancias, theme: 'twitter-bootstrap-4'
