.row
  .col
    = render 'panel/nav'
.row.justify-content-center
  .col-md-6
    = form_for [:panel,@relevamiento,@comentario], class: 'form' do |f|
      .form-group
        = f.label :contenido
        = f.text_area :contenido, class: 'form-control'
      .form-group
        .form-check-inline
          = f.check_box :privado, { class: 'form-check-input' }
          = f.label :privado, class: 'form-check-label'
      .form-group
        = f.submit t('.submit'), class: 'btn btn-block btn-success'
