<%= "\xEF\xBB\xBF" %><%=
@headers.map { |h| t(".#{h}") }.to_csv(@csv_options).html_safe
%><% 
@subscripciones.each do |s|
%><%=
@headers.map { |h| begin ; s.instance_eval(h) ; rescue NoMethodError ; nil ; end}.to_csv(@csv_options).html_safe
%><%
end
%>
