.row
  .col
    = render 'panel/nav'
.row
  .col
    %h1
      = t('.title')

    .btn-group
      = link_to panel_subscripciones_path(format: :csv), class: "btn btn-info" do
        = fa_icon 'table'
        = t(".csv")

    %table.table-striped.table.table-condensed.table-responsive
      %thead
        %tr
          %th #
          %th= t('.email')
          %th= t('.created_at')
      %tbody
        - @subscripciones.each do |s|
          %tr
            %td= s.id
            %td= s.email
            %td= s.created_at
    = paginate @subscripciones, theme: 'twitter-bootstrap-4'
