.row
  .col
    %h2= t('.resend_confirmation_instructions')
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email",
          class: 'form-control',
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .form-group
        = f.submit t('.resend_confirmation_instructions'),
          class: 'btn btn-info'
    = render "devise/shared/links"
