= form_for [:panel, @administradora] do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :grupo_ids
    = f.collection_select :grupo_ids, policy_scope(Grupo),
      :id, :to_s, {include_blank: true},
      {class: 'form-control select-2', placeholder: t('.prompt'), multiple: true}
  .form-group
    = f.submit t('administradoras.new'), class: 'btn btn-success'
