.row
  .col
    = render 'panel/nav'
.row
  .col
    %h1= t('panel.administradoras.title')

    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th= fa_icon 'users', title: t('.super')
          %th= t('administradoras.email')
          %th
      %tfoot
        %tr
          %td{colspan: 4}
            - if policy(Administradora).new?
              = link_to new_panel_administradora_path,
                class: 'btn btn-success' do
                = fa_icon 'plus'
                = t('administradoras.new')
      %tbody
        - @administradoras.each do |admin|  
          %tr
            %td= admin.id
            %td
              - unless admin.super?
                = fa_icon 'users', title: t('.super')
            %td
              - if admin.access_locked?
                = fa_icon 'lock', title: t('administradoras.locked')
                %span.sr-only= t('administradoras.locked')
              - if admin == current_administradora
                %strong= admin.email
              - else
                = admin.email
            %td
              .btn-group{role: 'group', aria: { label: t('administradoras.actions') }}
                - if policy(admin).edit?
                  = link_to edit_panel_administradora_path(admin),
                    class: 'btn btn-info' do
                    = fa_icon 'edit'
                    %span.sr-only= t('administradoras.edit')
                - if policy(admin).lock?
                  - if admin.access_locked?
                    = link_to panel_administradora_unlock_path(admin),
                      method: :post,
                      data: { confirm: t('administradoras.unlock.confirm') },
                      class: 'btn btn-secondary' do
                      = fa_icon 'unlock', title: t('administradoras.unlock.button')
                      %span.sr-only= t('administradoras.unlock.button')
                  - else
                    = link_to panel_administradora_lock_path(admin),
                      method: :post,
                      data: { confirm: t('administradoras.lock.confirm') },
                      class: 'btn btn-warning' do
                      = fa_icon 'lock', title: t('administradoras.lock.button')
                      %span.sr-only= t('administradoras.lock.button')
                - if policy(admin).super?
                  = link_to panel_administradora_unsuper_path(admin),
                    method: :post,
                    data: { confirm: t('.to_unsuper') },
                    class: 'btn btn-success' do
                    = fa_icon 'users', title: t('.to_unsuper')
                - elsif policy(admin).unsuper?
                  = link_to panel_administradora_super_path(admin),
                    method: :post,
                    data: { confirm: t('.to_super') },
                    class: 'btn btn-warning' do
                    = fa_icon 'user', title: t('.to_super')
                - if policy(admin).destroy?
                  = link_to panel_administradora_path(admin), method: :delete,
                    class: 'btn btn-danger',
                    data: { confirm: t('administradoras.delete.confirm') } do
                    = fa_icon 'remove'
                    %span.sr-only= t('administradoras.delete.button')
