%tr
  %td
    %div.color{style: "background-color: #{categoria.color};"}
  %td
    - if categoria.confidencial?
      = fa_icon 'lock', title: t('.confidencial')
    = categoria.arbol
    %br/
    %small.text-muted= categoria.descripcion
    %br/
    %small.text-muted= categoria.grupos.map(&:to_s).join(', ')
  %td= categoria.relevamientos_count
  %td= categoria.total
  %td
    .btn-group{role: 'group', aria: { label: t('.actions') }}
      - if policy(categoria).edit?
        = link_to edit_panel_categoria_path(categoria), class: 'btn btn-info' do
          = fa_icon 'edit', title: t('.edit')
          %span.sr-only= t('.edit')
        = link_to new_panel_categoria_path(raiz: categoria.id), class: 'btn btn-success' do
          = fa_icon 'plus', title: t('.sub')
          %span.sr-only= t('.sub')
      - if policy(categoria).orden?
        - unless categoria.sub_categoria_ids.empty?
          = link_to panel_categorias_orden_path(categoria: categoria.id), class: 'btn btn-success' do
            = fa_icon 'indent', title: t('.orden')
            %span.sr-only= t('.orden')
      - if policy(categoria).ordenar_plantillas?
        = link_to panel_categoria_plantillas_orden_path(categoria), class: 'btn btn-info' do
          = fa_icon 'reorder', title: t('.plantillas.orden')
          %span.sr-only= t('.plantillas.orden')
      - if policy(categoria).destroy?
        = link_to panel_categoria_path(categoria), method: :delete,
          data: { confirm: t('.delete.confirm') },
          class: 'btn btn-danger' do
          = fa_icon 'remove', title: t('.delete.button')
          %span.sr-only= t('.delete.button')
