= form_for [:panel,@categoria] do |f|
  .form-group
    - if params[:raiz].present?
      = f.label :raiz
      = f.collection_select :raiz_id,
        policy_scope(Categoria).where.not(id: @categoria.id), :id, :to_s,
        { prompt: t('.prompt'), include_blank: t('.none') },
        { class: 'form-control' }
  .form-group
    = f.label :nombre
    = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :descripcion
    = f.text_area :descripcion, class: 'form-control'
  .form-group
    = f.label :color
    = f.color_field :color, class: 'form-control'
  .form-group
    = f.label :confidencial
    = f.check_box :confidencial, class: 'form-control'
  %h2
    = t('.plantillas')
  .field-groups.plantillas
    = link_to '#', class: 'add-group btn btn-success', data: { group: 'plantillas' } do
      = fa_icon 'plus'
      = t('.plantilla.add')
    = f.fields_for :plantillas do |p|
      - id = 'plantillas-'+(p.object.id || Time.now.to_i).to_s
      .field-group{id: id, class: p.object.new_record? ? 'new' : ''}
        = link_to '#', class: 'plantillas remove-group btn btn-danger pull-right' do
          = fa_icon 'close', title: t('.plantilla.remove')
        = p.hidden_field :_destroy
        = p.hidden_field :id
        .row
          .col
            .form-group
              = p.label :label
              = p.text_field :label, class: 'form-control'
          .col
            .form-group
              = p.label :value
              - options = Plantilla::VALUES.map { |value| [t('.plantilla.'+value), value] }
              = p.select :value, options, {}, { class: 'form-control',
                onchange: 'window.toggle_possible_values(this)' }
        .row.possible-values{class: (p.object.value == 'select' ? '' : 'd-none')}
          .col
            .form-group
              = p.label :possible_values
              = p.select :possible_values, (p.object.possible_values || []),
                {},
                { class: 'form-control select-2',
                  placeholder: t('.possible_values'),
                  data: { tags: true },
                  multiple: true }
          .col
            .form-group
              = p.label :multiple
              .form-check
                = p.check_box :multiple, class: 'form-check-input'
                = p.label :multiple, t('.plantilla.multiple')
        .row
          .col
            .form-check.form-check-inline
              = p.check_box :photo, class: 'form-check-input'
              = p.label :photo
            .form-check.form-check-inline
              = p.check_box :required, class: 'form-check-input'
              = p.label :required

        .row
          .col
            .form-group
              = p.label :help
              = p.text_area :help, class: 'form-control'
        %hr/
  .form-group
    = f.submit t('.submit'), class: 'btn btn-success'
