.row
  .col
    = render 'panel/nav'

.row
  .col
    %h1= t('.title')

    - if policy(Categoria).new?
      = link_to new_panel_categoria_path,
        class: 'btn btn-success' do
        = fa_icon 'plus'
        = t('.new')
    - if policy(Categoria).orden?
      = link_to panel_categorias_orden_path,
        class: 'btn btn-info' do
        = fa_icon 'sort'
        = t('.orden')

    %table.table.table-condensed.table-striped
      %thead
        %tr
          - th = %w[.color .nombre .relevamientos .total]
          - th.each do |h|
            %th= t(h)
          %th
      %tfoot
        %tr
          %td{colspan: th.count + 1}
      %tbody
        - @categorias.each do |c|
          = render 'panel/categorias/fila', categoria: c
