.row
  .col
    = render 'panel/nav'

.row
  .col
    %h1
      = t('.title')
      - if @categoria
        = @categoria.nombre
    %p= t('.description')

    = form_tag panel_categorias_reordenar_path, method: :post do
      %table.table.table-condensed.table-striped.table-draggable
        %thead
          %tr
            - th = %w[.orden .nombre]
            - th.each do |h|
              %th= t(h)
        %tfoot
          %tr
            %td{colspan: th.count}
              - if policy(Categoria).reordenar?
                = submit_tag t('.reorder'), class: 'btn btn-success'
        %tbody
          - @categorias.each do |categoria|
            %tr
              %td
                = fa_icon 'arrows-v', class: 'handle'
                = hidden_field 'categorias[orden]', categoria.id,
                  value: categoria.orden, class: 'field order'
              %td
                - if categoria.confidencial?
                  = fa_icon 'lock', title: t('.confidencial')
                - if categoria.sub_categorias.count > 1
                  = link_to categoria.arbol, panel_categorias_orden_path(categoria: categoria.id)
                - else
                  = categoria.arbol
                %br/
                %small.text-muted= categoria.descripcion
