- q = params[:q] || {}
%tr
  %td= link_to extra.id, panel_extra_path(extra)
  %td
    - unless extra.fotos.empty?
      %a{href: extra.fotos.first.url}
        %img.img-small{src: extra.fotos.first.thumb.url }
  %td= link_to extra.relevamiento.categoria.arbol, panel_extras_path(q: q.merge({ relevamiento_categoria_id_eq: extra.relevamiento.categoria.id }), historico: params[:historico])
  %td= link_to extra.relevamiento.instancia.short_identifier, panel_extras_path(q: q.merge({ relevamiento_instancia_id_eq: extra.relevamiento.instancia.id }), historico: params[:historico])
  %td= link_to extra.relevamiento.id, panel_extras_path(q: q.merge({ relevamiento_id_eq: extra.relevamiento.id }), historico: params[:historico])
  %td= extra.try(:plantilla).try(:label)
  %td= extra.valor
  %td= extra.log_version
  %td= extra.created_at.strftime '%Y-%d-%m'
  %td= extra.updated_at.strftime '%Y-%d-%m'
