.row
  .col
    = render 'panel/nav'
.row
  .col
    %h2= t('.filters')
    = search_form_for @q, url: panel_extras_historico_path do |f|
      .row
        .col
          .form-group
            = f.label :relevamiento_categoria_id_eq
            = f.collection_select :relevamiento_categoria_id_eq, policy_scope(Categoria),
              :id, :arbol_con_total, {include_blank: true},
              {class: 'form-control select-2', placeholder: t('.prompt')}
            %small.form-text.text-muted= t(".categoria_help")
        .col-md-4
          .form-group
            = f.label :relevamiento_confirmado_eq
            = f.select :relevamiento_confirmado_eq,
              options_for_select([[t('.yes'),1],[t('.no'),0]], params.try(:q).try(:relevamiento_confirmado_eq).try(:to_i)),
              {include_blank: true},
              {class: 'form-control select-2', placeholder: t('.prompt')}
      .row.align-items-end
        .col
          .form-group
            = f.label :relevamiento_descripcion_cont
            = f.text_field :relevamiento_descripcion_cont, class: 'form-control'
        .col
          .form-group
            = f.label :relevamiento_informacion_de_contacto_cont
            = f.text_field :relevamiento_informacion_de_contacto_cont, class: 'form-control'
        .col
          .form-group
            = f.label :relevamiento_direccion_cont
            = f.text_field :relevamiento_direccion_cont, class: 'form-control'
      .form-group
        .row
          .col
            %button.btn.btn-info.btn-block{type: 'submit'}
              = fa_icon 'search'
              = t('.filter')
          .col-md-2
            = link_to panel_extras_historico_path, class: 'btn btn-secondary' do
              = fa_icon 'remove'
              = t('.clear')
.row
  .col
    %h1
      = t('.title')
    .btn-group
      - [[:csv, 'table', 'success'], [:geojson,'map-o','info']].each do |f|
        = link_to panel_extras_historico_path(format: f.first,
          q: params[:q].try(:permit!)),
          class: "btn btn-#{f.last}" do
          = fa_icon f.second
          = t(".#{f.first.to_s}")

    %table.table.table-condensed.table-striped.table-responsive
      %thead
        %tr
          %th= t('.relevamiento_id')
          %th= t('.plantilla.label')
          - @range.each do |date|
            %th= date.strftime('%F')
      %tfoot
      %tbody
        - @extras.each do |grupo|
          - grupo.try(:last).try(:each) do |extra|
            %tr
              %th= grupo.try(:first)
              %th= extra.try(:plantilla).try(:label)
              - prev = nil
              - @range.each do |date|
                %td
                  - if extra.try(:updated_at).try(:to_date) == date
                    - valor = extra.try(:valor)
                  - else
                    - valor = extra.at(time: date).try(:valor)

                  = valor unless prev == valor
                  - prev = valor
