<%= "\xEF\xBB\xBF" %><%
# La grilla del CSV
csv = []

# Traer los campos seleccionados en el controlador
names = @headers.map do |h|
  t(".#{h}")
end

# Agregar todas las fechas
names = names + @range.map do |date|
  date.strftime('%F')
end

# Agregar los headers como primera fila
csv << names

# Procesar cada fila
@extras.each do |grupo|
  prev = nil
  grupo.try(:last).try(:each) do |extra|
    values = [grupo.try(:first),extra.try(:plantilla).try(:label)]
    csv << values + @range.map do |date|
      if extra.try(:updated_at).try(:to_date) == date
        valor = extra.try(:valor)
      else
        valor = extra.at(time: date).try(:valor)
      end

      unless prev == valor
        prev = valor
        valor
      end
    end
  end
end

# Imprimir todas las filas
csv.each do |row|
%><%=
  row.to_csv(@csv_options).html_safe
%><%
end
%>
