- extras = @extras.to_a.uniq
.row
  .col
    = render 'panel/nav'
.row
  .col
    %h2= t('.filters')
    = search_form_for [:panel,@q] do |f|
      .row
        .col
          .form-group
            = f.label :relevamiento_categoria_id_eq
            = f.collection_select :relevamiento_categoria_id_eq, policy_scope(Categoria),
              :id, :arbol, {include_blank: true},
              {class: 'form-control select-2', placeholder: t('.prompt')}
          .form-group
            = f.label :plantilla_id_eq
            = f.select :plantilla_id_eq, Plantilla.pluck(:label, :id).uniq.compact.sort, {include_blank: true}, {class: 'form-control select-2'}
          .form-check.form-check-inline
            = check_box_tag :historico, 'true', params[:historico].present?, class: 'form-check-input'
            %label{for: 'historico'}= t('.historico')
      .form-group
        .row
          .col
            %button.btn.btn-info.btn-block{type: 'submit'}
              = fa_icon 'search'
              = t('.filter')
          .col-md-2
            = link_to panel_extras_path(page: params[:page].try(:permit!)), class: 'btn btn-secondary' do
              = fa_icon 'remove'
              = t('.clear')
.row
  .col
    %h1
      = t('.title')
      - q = extras.count
      - if @historico
        - q = extras.map(&:log_size).inject(:+)
      = t('.results', q: q)

    .btn-group
      - [[:csv, 'table', 'success']].each do |f|
        - params.permit!
        = link_to panel_extras_path(format: f.first,
          q: params[:q],
          historico: params[:historico]),
          class: "btn btn-#{f.last}" do
          = fa_icon f.second
          = t(".#{f.first.to_s}")
      = link_to t('.historico'), panel_extras_historico_path, class: 'btn btn-info'

    %table.table-striped.table.table-condensed.table-responsive
      %thead
        %tr
          %th
          %th= t('.foto')
          %th= sort_link(@q, :categoria, t('.categoria'))
          %th= sort_link(@q, :instancia, t('.instancia'))
          %th= sort_link(@q, :relevamiento, t('.relevamiento'))
          %th= sort_link(@q, :nombre, t('.nombre'))
          %th= sort_link(@q, :valor, t('.valor'))
          %th= t('.log_version')
          %th= sort_link(@q, :created_at, t('.created_at'))
          %th= sort_link(@q, :updated_at, t('.updated_at'))
      %tbody
        - extras.each do |extra|
          = render 'panel/extras/fila', extra: extra
          - if @historico && extra.log_size > 1
            - extra.log_size.times do |version|
              - e = extra.at(version: version)
              - next unless e
              = render 'panel/extras/fila', extra: e
    = paginate @extras, theme: 'twitter-bootstrap-4'
