<%= "\xEF\xBB\xBF" %><%=
@headers.map { |h| t(".#{h}") }.to_csv(@csv_options).html_safe
%><% 
@extras.to_a.uniq.each do |extra|
%><%=
@headers.map { |h| begin ; extra.instance_eval(h) ; rescue NoMethodError ; nil ; end}.to_csv(@csv_options).html_safe
%><%
if @historico && extra.log_size > 1
  extra.log_size.times do |version|
    e = extra.at(version: version)
    next unless e
%><%=
    @headers.map { |h| begin ; e.instance_eval(h) ; rescue NoMethodError ; nil ; end}.to_csv(@csv_options).html_safe
%><%
  end # version
end # historico
%><%
end # extras
%>
