.row
  .col
    = render 'panel/nav'
.row.justify-content-center
  .col-md-8
    = render 'layouts/flash'
    .card
      %img.card-img-top{src: @extra.fotos.first.try(:url) || '/default.png', alt: @extra.plantilla.try(:label)}
      .card-body
        %h5.card-title= @extra.plantilla.try(:label)
        %p.card-text= @extra.valor
        %p.card-text= @extra.updated_at
        %p.card-text
          = t('.revisiones')
          %span.badge.badge-primary= @extra.log_size

        - if @extra.log_size > 1
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th= t('.version')
                %th= t('.foto')
                %th= t('.nombre')
                %th= t('.valor')
                %th= t('.updated_at')
                %th= t('.instancia')
                %th
            %tfoot
            %tbody
              - @extra.log_size.times do |version|
                - extra = @extra.at(version: version)
                - next unless extra
                %tr
                  %td= version
                  %td
                    - if foto = extra.fotos.first.try(:thumb).try(:url)
                      = image_tag foto
                  %th= extra.plantilla.try(:label)
                  %td= extra.valor
                  %td= extra.updated_at
                  %td= extra.instancia.short_identifier
                  %td
                    = link_to panel_extra_deshacer_path(@extra, version: version), method: :post, class: 'btn btn-warning' do
                      = fa_icon 'undo'
                      = t('.deshacer')
