.row
  .col
    %h2= t('.resend_unlock_instructions')
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email",
          class: 'form-control'
      .form-group
        = f.submit t('.resend_unlock_instructions'), class: 'btn btn-info'
    = render "devise/shared/links"
