.row
  .col
    %h2= t('.change_your_password')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, t('.new_password')
        - if @minimum_password_length
          %br/
          %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
        = f.password_field :password, autofocus: true, autocomplete: "off",
          class: 'form-control'
      .form-group
        = f.label :password_confirmation, t('.confirm_new_password')
        = f.password_field :password_confirmation, autocomplete: "off",
          class: 'form-control'
      .form-group
        = f.submit t('.change_my_password'), class: 'btn btn-info'
    = render "devise/shared/links"
