.row
  .col
    = render 'panel/nav'

.row
  .col
    %h1= @categoria.nombre
    %p= t('.description')

    = form_tag panel_categoria_plantillas_reordenar_path(@categoria), method: :post do
      %table.table.table-condensed.table-striped.table-draggable
        %thead
          %tr
            - th = %w[.orden .nombre]
            - th.each do |h|
              %th= t(h)
        %tfoot
          %tr
            %td{colspan: th.count}
              - if policy(Categoria).reordenar?
                = submit_tag t('.reorder'), class: 'btn btn-success'
        %tbody
          - @plantillas.each do |plantilla|
            %tr
              %td
                = fa_icon 'arrows-v', class: 'handle'
                = hidden_field 'plantillas[order]', plantilla.id,
                  value: plantilla.order, class: 'field order'
              %td
                = plantilla.label
                %br/
                %small.text-muted= plantilla.help
