.row
  .col
    = render 'panel/nav'
.row.justify-content-center
  .col-md-6
    .card
      %img.card-img-top{src: @relevamiento.fotos.first.try(:url) || '/default.png', alt: @relevamiento.descripcion}
      #map.minimap{data: { lat: @relevamiento.coordenadas.lat,
        lng: @relevamiento.coordenadas.lon,
        color: @relevamiento.categoria.color } }
    = form_for [:panel,@relevamiento], class: 'form' do |f|
      = hidden_field 'relevamiento[coordenadas]', 'lat'
      = hidden_field 'relevamiento[coordenadas]', 'lng'
      .form-group
        = f.label :fotos
        = f.file_field :fotos, multiple: true, class: 'form-control'
      .form-group.form-check
        = f.check_box :remove_fotos, class: 'form-check-input'
        = f.label :remove_fotos, class: 'form-check-label'
      .form-group
        = f.label :direccion
        = f.text_field :direccion, class: 'form-control'
      .form-group
        = f.label :descripcion
        = f.text_area :descripcion, class: 'form-control'
      .form-group
        = f.label :informacion_de_contacto
        = f.text_area :informacion_de_contacto, class: 'form-control'
      .form-group
        = f.label :categoria_id
        = f.collection_select :categoria_id, Categoria.all, :id, :arbol, {prompt: true}, { class: 'form-control' }
      .form-group
        = f.label :confirmado
        .form-check
          = f.check_box :confirmado, class: 'form-check-input'
          = f.label :confirmado, class: 'form-check-label'
      = f.fields_for :extras do |e|
        .form-group
          - case e.object.plantilla.try(:value)
            - when 'number'
              = e.label :valor, e.object.plantilla.try(:label)
              = e.number_field :valor, class: 'form-control'
            - when 'boolean'
              .form-check
                = e.check_box :valor, { class: 'form-check-input' }, 'true', 'false'
                = e.label :valor, e.object.plantilla.try(:label), class: 'form-check-label'
            - else
              = e.label :valor, e.object.plantilla.try(:label)
              = e.text_field :valor, class: 'form-control'
      .form-group
        = f.submit t('.submit'), class: 'btn btn-block btn-success'
