<%= "\xEF\xBB\xBF" %><%
csv = []
names = @headers.map { |h| t(".#{h}") }
names = names + @categoria.try(:plantillas).map(&:label) if @extras
csv << names
@relevamientos.to_a.uniq.each do |r|
  values = @headers.map do |h|
    begin
      r.instance_eval(h)
    rescue NoMethodError
      nil
    end
  end

  if @extras
    values = values + @categoria.try(:plantillas).try(:map) do |p|
      r.extras.to_a.find do |e|
        e.plantilla_id == p.id
      end.try(:valor)
    end
  end

  csv << values
end

%><%
csv.each do |row|
%><%=
  row.to_csv(@csv_options).html_safe
%><%
end
%>
