.row
  .col
    = render 'panel/nav'
.row
  .col
    %h2= t('.filters')
    = search_form_for [:panel,@q] do |f|
      .row
        .col
          .form-group
            = f.label :categoria_id_eq
            = f.collection_select :categoria_id_eq, policy_scope(Categoria),
              :id, :arbol_con_total, {include_blank: true},
              {class: 'form-control select-2', placeholder: t('.prompt')}
            %small.form-text.text-muted= t(".categoria_help")
        .col-md-4
          .form-group
            = f.label :confirmado_eq
            = f.select :confirmado_eq,
              options_for_select([[t('.yes'),1],[t('.no'),0]], params.try(:q).try(:confirmado_eq).try(:to_i)),
              {include_blank: true},
              {class: 'form-control select-2', placeholder: t('.prompt')}
      .row
        .col
          - %w[extras sub_categorias].each do |checkbox|
            .form-check.form-check-inline
              = check_box_tag checkbox, 'true', params[checkbox].present?, class: 'form-check-input'
              %label{for: checkbox}
                = t('.'+checkbox)
                %small.form-text.text-muted= t(".#{checkbox}_help")
      .row.align-items-end
        .col
          .form-group
            = f.label :descripcion_cont
            = f.text_field :descripcion_cont, class: 'form-control'
        .col
          .form-group
            = f.label :informacion_de_contacto_cont
            = f.text_field :informacion_de_contacto_cont, class: 'form-control'
        .col
          .form-group
            = f.label :direccion_cont
            = f.text_field :direccion_cont, class: 'form-control'
      .form-group
        .row
          .col
            %button.btn.btn-info.btn-block{type: 'submit'}
              = fa_icon 'search'
              = t('.filter')
          .col-md-2
            = link_to panel_relevamientos_path(page: params[:page].try(:permit!)), class: 'btn btn-secondary' do
              = fa_icon 'remove'
              = t('.clear')
.row
  .col
    %h1
      = t('.title')
      = t('.results', q: @relevamientos.to_a.uniq.count)

    .btn-group
      - [[:csv, 'table', 'success'], [:geojson,'map-o','info']].each do |f|
        = link_to panel_relevamientos_path(format: f.first,
          q: params[:q].try(:permit!),
          page: params[:page].try(:permit!),
          extras: params[:extras],
          sub_categorias: params[:sub_categorias]),
          class: "btn btn-#{f.last}" do
          = fa_icon f.second
          = t(".#{f.first.to_s}")

    %table.table-striped.table.table-condensed.table-responsive
      %thead
        %tr
          %th= sort_link(@q, :id, '#')
          %th= sort_link(@q, :instancia, t('.instancia'))
          %th= sort_link(@q, :confirmado, t('.confirmado'))
          %th= sort_link(@q, :categoria_nombre, t('.categoria.nombre'))
          %th= sort_link(@q, :direccion, t('.direccion'))
          %th= sort_link(@q, :descripcion, t('.descripcion'))
          %th= sort_link(@q, :comentarios_count, t('.comentarios'))
          %th= sort_link(@q, :created_at, t('.created_at'))
          %th= sort_link(@q, :updated_at, t('.updated_at'))
          - if @extras
            - @categoria.try(:plantillas).try(:each) do |p|
              %th= p.try(:label)
          %th
      %tbody
        - @relevamientos.to_a.uniq.each do |r|
          %tr
            %td= link_to r.id, panel_relevamiento_path(r)
            %td= link_to r.instancia.short_identifier, panel_relevamientos_path(q: { instancia_id_eq: r.instancia.id })
            %td
              - if r.confirmado
                = fa_icon 'star'
            %td
              - if r.categoria.confidencial?
                = fa_icon 'lock', title: t('panel.categorias.fila.confidencial')
              = r.categoria
            %td= r.direccion
            %td= r.descripcion
            %td
              %ul
                - r.comentarios.each do |c|
                  %li
                    = c.contenido
                    = '--'
                    = c.comentarista
                    = c.created_at
                    = "(#{c.privado})"

            %td= r.created_at.strftime '%Y-%d-%m'
            %td= r.updated_at.strftime '%Y-%d-%m'
            - if @extras
              - @categoria.try(:plantillas).try(:each) do |p|
                -# La celda tiene que salir igual para no descompaginar las columnas
                %td
                  - if e = r.extras.to_a.find { |e| e.plantilla_id == p.id }
                    = e.valor
            %td
              .btn-group{role: 'group', aria: { label: t('.actions') }}
                = link_to edit_panel_relevamiento_path(r),
                  class: 'btn btn-secondary',
                  title: t('.edit') do
                  = fa_icon 'edit'
                = link_to panel_relevamiento_path(r),
                  method: :delete, class: 'btn btn-danger',
                  title: t('.destroy'),
                  data: { confirm: t('.destroy_confirm') } do
                  = fa_icon 'remove'
    = paginate @relevamientos, theme: 'twitter-bootstrap-4'
