.row
  .col
    = render 'panel/nav'
.row.justify-content-center
  .col-md-8
    .card
      %img.card-img-top{src: @relevamiento.fotos.first.try(:url) || '/default.png', alt: @relevamiento.descripcion}
      .card-body
        %h5.card-title= @relevamiento.direccion || 'Relevamiento'
        %p.card-text= @relevamiento.descripcion
        %p.card-text= @relevamiento.informacion_de_contacto
        %p.card-text
          %span.badge{style: "background-color: #{@relevamiento.categoria.color}"}
            = @relevamiento.categoria

        %p.card-text
          - if @relevamiento.confirmado
            = fa_icon 'star'
            = t('.confirmed')
          - else
            = form_tag panel_relevamiento_confirm_path(@relevamiento), method: :post do |f|
              = button_tag class: 'btn btn-warning' do
                = fa_icon 'star'
                = t('.confirm')

        #map.minimap{data: { lat: @relevamiento.coordenadas.lat,
          lng: @relevamiento.coordenadas.lon,
          color: @relevamiento.categoria.color } }

        %table.table.table-condensed.table-striped.table-responsive
          %thead
          %tfoot
          %tbody
            - @relevamiento.extras.each do |extra|
              %tr
                %th= extra.plantilla.label
                %td= extra.valor
                %td
                  - unless extra.fotos.empty?
                    %a{href: extra.fotos.first.url}
                      %img.img-small{src: extra.fotos.first.thumb.url }

        %ul.list-group.list-group-flush
          - @relevamiento.comentarios.each do |comentario|
            %li.list-group-item
              .row
                .col
                  = comentario
                  %br/
                  %small.text-muted
                    - if comentario.privado?
                      = fa_icon 'lock'
                    = comentario.comentarista
                    = '--'
                    = comentario.created_at
                .col-2
                  .btn-group{role: 'group', aria: { label: t('.actions') }}
                    = link_to edit_panel_relevamiento_comentario_path(@relevamiento, comentario),
                      class: 'btn btn-secondary btn-sm',
                      title: t('.edit') do
                      = fa_icon 'edit'
                    = link_to panel_relevamiento_comentario_path(@relevamiento, comentario),
                      method: :delete, class: 'btn btn-danger btn-sm',
                      title: t('.destroy'),
                      data: { confirm: t('.destroy_confirm') } do
                      = fa_icon 'remove'
          %li.list-group-item
            = form_for [:panel,@relevamiento,@relevamiento.comentarios.build] do |f|
              .form-group
                = f.text_area :contenido, class: 'form-control', placeholder: t('.contenido')
              .form-check
                = f.check_box :privado, { checked: true, class: 'form-check-input' }
                = f.label :privado, class: 'form-check-label'
              .form-group
                = f.submit class: 'btn btn-success'
