= form_for [:panel,@grupo] do |f|
  .form-group
    = f.label :nombre
    = f.text_field :nombre, class: 'form-control'
  .form-group
    = f.label :administradora_ids
    = f.collection_select :administradora_ids, policy_scope(Administradora),
      :id, :to_s, {include_blank: true},
      {class: 'form-control select-2', placeholder: t('.prompt'), multiple: true}
  .form-group
    = f.label :categoria_ids
    = f.collection_select :categoria_ids, policy_scope(Categoria),
      :id, :to_s, {include_blank: true},
      {class: 'form-control select-2', placeholder: t('.prompt'), multiple: true}
  .form-group
    = f.submit t('.submit'), class: 'btn btn-success'
