.row
  .col
    = render 'panel/nav'
.row
  .col
    %h1= t('.title')

    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th= t('.nombre')
          %th= t('.administradoras')
          %th= t('.categorias')
          %th
      %tfoot
        %tr
          %td{colspan: 3}
            - if policy(Grupo).new?
              = link_to new_panel_grupo_path,
                class: 'btn btn-success' do
                = fa_icon 'plus'
                = t('.new')
      %tbody
        - @grupos.each do |grupo|
          %tr
            %td= grupo.id
            %td= link_to grupo.nombre, panel_grupo_path(grupo)
            %td= grupo.administradora_ids.count
            %td= grupo.categoria_ids.count
            %td
              .btn-group{role: 'group', aria: { label: t('.actions') }}
                - if policy(grupo).edit?
                  = link_to edit_panel_grupo_path(grupo),
                    class: 'btn btn-info' do
                    = fa_icon 'edit'
                    %span.sr-only= t('.edit')
                - if policy(grupo).destroy?
                  = link_to panel_grupo_path(grupo), method: :delete,
                    class: 'btn btn-danger',
                    data: { confirm: t('.confirm') } do
                    = fa_icon 'remove'
                    %span.sr-only= t('.delete')
