.row
  .col
    = render 'panel/nav'

.row.justify-content-center
  .col-md-8
    %h1= @grupo.nombre
    %p
      = t('.created_at')
      %time{datetime: @grupo.created_at}= time_ago_in_words @grupo.created_at
    %p
      = t('.updated_at')
      %time{datetime: @grupo.updated_at}= time_ago_in_words @grupo.updated_at

    %h2= t('.administradoras')
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th= t('.administradora')
      %tfoot
      %tbody
        - @grupo.administradoras.each do |administradora|
          %tr
            %td= administradora.id
            %td= administradora

    %h2= t('.categorias')
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th= t('.categoria')
      %tfoot
      %tbody
        - @grupo.categorias.each do |categoria|
          %tr
            %td= categoria.id
            %td= categoria
