@import "bootstrap";
@import "font-awesome";
@import "leaflet/dist/leaflet";
@import "select2/dist/css/select2";
@import "select2-theme-bootstrap4/dist/select2-bootstrap.min";

$purpura: #5c004d;
.turbolinks-progress-bar {
  height: 3px;
  background-color: $purpura;
}

.fullpage {
  width: 100vw;
  height: 100vh;
}

.minimap {
  width: 100%;
  height: 200px;
}

.color {
  height: 20px;
  width: 20px;
  border: 1px solid gray;
}

.marker {
  margin-left: -12px !important;
  margin-top: -41px !important;
  width: 25px !important;
  height: 41px !important;
  display: inline-block;
  font: normal normal normal 41px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sindu_dragger {
  table {
    background: transparent !important;
  }
}

.img-small {
  max-width: 100px;
}
