%nav.navbar.bg-light.navbar-light.navbar-expand-lg
  %a.navbar-brand{href: panel_path} Habitapp
  %button.navbar-toggler{type: 'button', data: { toggle: 'collapse',
    target: '#navegacion' }, aria: { controls: 'navegacion',
    expanded: 'false', label: t('panel.nav.toggle') }}
    %span.navbar-toggler-icon

  #navegacion.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - %w[grupos administradoras categorias relevamientos extras instancias subscripciones].each do |item|
        - next unless policy(item.classify.constantize).index?
        - path = send("panel_#{item}_path")
        %li.nav-item{class: current_page?(path) ? 'active' : ''}
          %a.nav-link{href: session[path] || path}
            = t("#{item}.index")
            - if current_page? path
              %span.sr-only= t('panel.nav.current')
      %li.nav-item
        = link_to destroy_administradora_session_path, method: :delete,
          class: 'nav-link' do
          = fa_icon 'sign-out', title: t('panel.nav.sign_out')
          = t('panel.nav.sign_out')
